body {
    background-color: #343541;
}

#signinbox {
    background-color: #262730;
    width: 500px;
    height: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -300px;
    color: #000;
    display: block;
    border-radius: 10px;
    padding: 15px;
}

#signinbox h2 {
    color: #fff;
}

#signup {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-40%);
    bottom: 15px;
}

#signup p {
    font-size: 15px;
}

.input-label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.2s;
    padding-right: 100%;
}

.input-field {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    width: 80%;
    transition: 0.2s;
}

.input-field:focus {
    border: -3px solid green;
}

#loginbtn {
    outline: 0;
    background-color: #1A7F64;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    margin-top: 20px;
}

#signup p {
    color: #fff;
}

#signinform label {
    color: #fff;
}

#return {
    position: absolute;
    margin-left: -520px;
    bottom: 30px;
}

#return a {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    background-color: #1A7F64;
    transition: 0.2s;
}

#return a:hover {
    background-color: #125946;
}

#signinform {
    margin-top: 30px;
    margin-left: 10px;
}

#signinform label {
    margin-right: -10px;
}

#passworddiv {
    margin-top: 10px;
}