#navbar {
	width: 100%;
	height: 80px;
	background-color: #20202B;
	top: 0;
	position: absolute;
}

#logodiv img {
	margin-top: -40px;
	width: 300px;
	padding-right: 10px;
	vertical-align: middle;
}

#logo {
	font-size: 20px;
	color: #fff;
	display: inline-block;
}

#logo p {
	font-size: 15px;
}

#links {
	position: absolute;
	left: 350px;
	margin-top: -95px;
}

#center {
	margin-bottom: 35px;
}

#center li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#center a {
	font-size: 20px;
	color: #fff;
	padding: 7px;
	transition: .2s;
	border-radius: 4px;
	font-weight: 800;
}

#center a:hover {
	background-color: #68686896;
}

/* login system */
#profile {
	float: right;
	margin-right: 25px;
}

#loggedin {
	display: none;
}

#notloggedin {
	margin-top: -105px;
}

