/* searchbar */
#searchbardiv {
	position: absolute;
	margin-top: -105px;
	right: 200px;
	margin-right: 30px;
}

#searchbardiv input{
	border: none;
	outline: none;
	background-color: #fff;
	height: 30px;
	width: 200px;
	border-radius: 4px;
    color: #000;
    font-weight: 500;
    font-family: 'Nunito Sans';
	transition: .2s;
	align-items: center;
	text-align: center;
	justify-content: center;
}

#searchbardiv input::placeholder {
	position: absolute;
	margin-top: 2px;
	margin-left: 10px;
	align-items: center;
	text-align: center;
	justify-content: center;
}

#searchbardiv button {
    outline: none;
    border: none;
	background-color: transparent;
}

#searchbardiv i {
    font-size: 20px;
    transition: 0.2s;
}

#searchbardiv i:hover {
    transform: scale(1.2);
}

#searchbardiv i:active {
    transform: scale(1);
}


#resultsdiv {
	display: none;
	transition: .2s;
}

.emptydiv {
	margin: 10px;
	border: #000 1px solid;
	width: 90%;
	margin-left: 12px;
}

#resultsdiv {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
}

#searchbar {
	padding: 4px;
}

#resultsdiv h4 {
	margin-left: 5px;
	color: #000;
}

.result {
	width: 100%;
	cursor: pointer;
	padding-left: 15px;
}

.result:hover {
	background-color: #808080;
}

