/* searchbar */
#searchbardiv {
	position: absolute;
	margin-top: -97px;
	right: 200px;
}

#searchbardiv input{
	border: none;
	outline: none;
	background-color: #fff;
	height: 30px;
	width: 200px;
	border-radius: 10px;
    color: #000;
    font-weight: 800;
    font-family: 'Nunito Sans';
	transition: .2s;
}

#searchbardiv input::placeholder {
	position: absolute;
	margin-top: 6px;
	margin-left: 10px;
}

#searchbardiv button {
    outline: none;
    border: none;
	background-color: transparent;
}

#searchbardiv i {
    font-size: 20px;
    transition: 0.2s;
}

#searchbardiv i:hover {
    transform: scale(1.2);
}

#searchbardiv i:active {
    transform: scale(1);
}


#resultsdiv {
	/* display: none; */
	transition: .2s;
}

.emptydiv {
	margin: 10px;
	border: #000 1px solid;
	width: 90%;
	margin-left: 12px;
}

.resultcontainer {
	margin-left: 10px;
}

#resultsdiv {
	background-color: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	color: #000;
}