/* searchbar */
#searchbardiv {
	position: absolute;
	margin-top: -105px;
	right: 200px;
}

#searchbardiv input{
	border: none;
	outline: none;
	background-color: #fff;
	height: 30px;
	width: 200px;
	border-radius: 10px;
    color: #000;
    font-weight: 800;
    font-family: 'Nunito Sans';
}

#searchbardiv button {
    outline: none;
    border: none;
	background-color: transparent;
}

#searchbardiv i {
    font-size: 20px;
    transition: 0.2s;
}

#searchbardiv i:hover {
    transform: scale(1.2);
}

#searchbardiv i:active {
    transform: scale(1);
}

#resultsdiv {
	display: none;
}